<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Stylesheets -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/branding/favicon.ico">

    <!-- Enable responsiveness on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{% endblock %} &middot; Hammer</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      <!-- Please don't remove this -->
      <p>Powered by <a href="https://github.com/calhacks/hammer" class="colored">Hammer</a> by Cal Hacks, forked from <a href="https://github.com/anishathalye/hammer">Gavel</a>.</p>
    </div>
    {% block end %}
    {% endblock %}
  </body>
</html>
